//Kapow Brand Colors
$dusk:  #2B303B;
$slate: #484C5B;
$gold: #D7A86F;
$rust: #BE865C;
$smoke: #E5DBD3;
$basil: #B0BF63;

//Bootstrap Re-Mappings for Alerts
$brand-success: #8ABB87;
$brand-danger: #AB4542;

// 5 Shades of gray
$charcoal: #464646;
$graphite: #646464; //Body copy
$steel: #969696;
$silver: #DCDCDC;
$eggshell: #F5F5F5;

// Error messages
$coral: #DE826E;

//"Non Brand" UI Specific Colors
$btn-disabled: #969696;
$linkedinBlue: #0277B5;

$white: #ffffff;
$black: #000000;
