body {
  background-color: $eggshell;
}

.navbar {
  height: 100px;
  border-radius: 0;
  background: $dusk url('../assets/background_tile_blue.png') repeat bottom center;
  border: 0;
  margin-bottom: 0;
  padding: 0 36px;
}

.kapow_logo {
  padding-top: 35px;
  width: 153px;
  height: 28px;
}

#nav-title-container, #logo-container {
  display: inline-block;
}

.dashboard-title {
  margin-left: 20px;
  color: $eggshell;
  font-size: 28px;
}
