/* Vendor stylesheets */
@import './vendor/normalize';
@import './vendor/skeleton';

/* Partials */
@import './colors';
@import './header';

/* Variables */

/* Styles */
.example-enter {
  background-color: rgba(0, 0, 0, 0);
}

.example-enter.example-enter-active {
  background-color: rgba(0, 0, 0, 50);
  transition: all 1000ms ease-in;
}

// .example-leave {
//   opacity: 1;
// }
//
// .example-leave.example-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

.winner {
  background-color: $brand-success;
}

.loser {
  background-color: $brand-danger;
}
